<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <style>
    input {
      width: 50px;
    }

    .form-control {
      width: 100px;
      float: left;
    }

    .opacityZero {
      opacity: 0;
    }
  </style>
</head>

<body>
  <div id="main">
    <div class="modal fade" tabindex="-1" role="dialog" id="getteamname">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">数据录入</h4>
          </div>
          <div class="modal-body">
            <p>请输入双方队伍队名</p>
            <input v-model="teamname1" type="text">
            <input v-model="teamname2" type="text">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="getteammate">确定</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="upload">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">数据录入</h4>
          </div>
          <div class="modal-body">
            <p>请输入双方队伍队名</p>
            <input v-model="teamname1" type="text">
            <input v-model="teamname2" type="text">
            <p>请输入比分</p>
            <input v-model="score1" type="text">
            <input v-model="score2" type="text">
            <p>请输入场地</p>
            <input v-model="court" type="number">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="judge">确定</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div id="table">
      <form>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>姓名</th>
              <th>篮板</th>
              <th>助攻</th>
              <th>抢断</th>
              <th>盖帽</th>
              <th>犯规</th>
              <th>得分</th>
              <th class="opacityZero">禁止更改</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(player,index) in players">
              <td>{{index}}</td>
              <td><input :name="index+'xingming'" type="text" :value="player.name" readonly="readonly"></td>
              <td><input value=0 :name="index+'lanban'" type="number"></td>
              <td><input value=0 :name="index+'zhugong'" type="number"></td>
              <td><input value=0 :name="index+'qiangduan'" type="number"></td>
              <td><input value=0 :name="index+'gaimao'" type="number"></td>
              <td><input value=0 :name="index+'fangui'" type="number"></td>
              <td><input value=0 :name="index+'defen'" type="number"></td>
              <td class="opacityZero"><input :name="index+'openid'" type="text" :value="player.openid" readonly="readonly"></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <select v-model="playerOption" class="form-control">
      <option v-for="(player,index) in players" :value="index">{{player.name}}</option>
    </select>
    <select v-model="scoreOption" class="form-control">
      <option value=1>1</option>
      <option value=2>2</option>
      <option value=3>3</option>
      <option value=4>4</option>
      <option value=4>5</option>
    </select>
    <select v-model="itemOption" class="form-control">
      <option value="lanban">篮板</option>
      <option value="zhugong">助攻</option>
      <option value="qiangduan">抢断</option>
      <option value="gaimao">盖帽</option>
      <option value="defen">得分</option>
    </select>
    <button type="button" class="btn btn-primary" @click="addScore">添加分数</button>
    <button style="display: block" type="button" class="btn btn-primary" @click="submit">提交数据</button>
  </div>

  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script>
    var page = new Vue({
      el: '#main',
      data: {
        teamname1: '',
        teamname2: '',
        score1: 0,
        score2: 0,
        court: '',
        players: [],
        playerOption: '',
        itemOption: '',
        scoreOption: ''
      },
      mounted: function () {
        this.socket = io('/match');
        this.socket.emit('matchstart','111', '222');
        $('#getteamname').modal({
          keyboard: false,
          backdrop: 'static',
          show: true
        });
        $('#upload').modal({
          keyboard: false,
          backdrop: 'static',
          show: false
        })
      },
      methods: {
        addScore: function () {
          var temp = document.querySelector('input[name="' + this.playerOption + this.itemOption + '"]').value;
          document.querySelector('input[name="' + this.playerOption + this.itemOption + '"]').value = Number(temp) +
            Number(this.scoreOption);
        },
        submit: function () {
          var data = $('form').serialize(); //要有效一定要在input写上name属性
          console.log(data);
          axios.post('/personaldata', data)
            .then(function (res) {
              console.log(res);
              if (res.data.code === 0) {
                $('#upload').modal('show');
              }
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        getteammate: function () {
          var _this = this;
          axios.post('/getPlayer', {
              team1: _this.teamname1,
              team2: _this.teamname2
            })
            .then(function (res) {
              _this.players = res.data.mate;
              $('#getteamname').modal('toggle');
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        judge: function () {
          console.log('judge');
          var _this = this;
          axios.post('/judgesubmit', {
              team1: _this.teamname1,
              team2: _this.teamname2,
              score1: _this.score1,
              score2: _this.score2,
              court: _this.court
            })
            .then(function (res) {
              _this.socket.emit('matchover', _this.teamname1, _this.teamname2);
              alert('上传成功，请关闭页面');
              window.close();
            })
            .catch(function (error) {
              console.log(error)
            });
        }
      }
    })
  </script>
</body>

</html>